
<!DOCTYPE html>
<html>

<head>
<!-- <link rel="stylesheet" href="static/css/view.css"> -->
	<title>Post-Study Question</title></head>
<body style="padding-left:100px;">
	<form method="post">

		<h1 style="color: grey;">Post-Study Question</h1>

		<h3 style="font-size: 20px;	font-weight: 100; padding-left: 15px; width: 800px;">
  	<b>1.</b> Thinking back on all of the 15 snippets you read, please rate the following statement: "In general, do you think it would have been useful if the documents you read included some visualization of the data that was discussed?"
		<br>

		<h4 style="padding-left: 60px; line-height:1.4; font-weight: 100; font-size: 20px;">
		<input type="radio" name="viz_pref" value="1"> Not at all helpful<br>
		<input type="radio" name="viz_pref" value="2"> Slightly Helpful<br>
		<input type="radio" name="viz_pref" value="3"> Somewhat Helpful<br>
		<input type="radio" name="viz_pref" value="4"> Very Helpful<br>
		<input type="radio" name="viz_pref" value="5"> Extremely Helpful<br>
		</h4>



  	<br>
</h3>
<input type="submit" value="Next">
</form>
</body>
</html>
